@import '../abstract/variaveis';

.banner {
    align-items: center;
    background: url(../img/banner.jpeg) 27% center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 350px;
    opacity: 0.85;
    .inner-banner {
        background-color: $cor-terciaria;
        border-radius: 45px;
        font-weight: bold;
        opacity: .9;
        padding: 3rem;
        h1 {
            font-size: $tamanho-do-texto;
            color: $cor-primaria;
        }
        h2 {
            font-size: $tamanho-do-texto / 2;
            color: $cor-secundaria;
        }
    }
}